* {
  font-family: Courier, serif;
  margin: 0;
  padding: 0;
}

/* Wanted block */

.bg-block {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 842px;
  margin-top: 20px;
}

.book {
  height: 100%;
  width: 595px;
  position: relative;
  transition: 0.5s;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page-front,
.page-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: #e0dbc4; */
  background-image: linear-gradient(to right, #c2beab, #e0dbc4, #c2beab);
  transform-origin: left;
  transition: 0.5s;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
}

/* Page sequence */

.page-front {
  z-index: 2;
  backface-visibility: hidden;
  border-left: 5px solid #7e7448;
}

.page-back {
  z-index: 1;
  border-left: 5px solid #7e7448;
}

.back-content {
  transform: rotateY(180deg);
}

.page-1 {
  z-index: 2;
}

.page-2 {
  z-index: 1;
}

/* Page 1 front elements */

.front-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-1 > .front-content > div {
  width: 100%;
}

.front-1 > .front-content > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30%;
}

/* Дело №*/

.front-1 > .front-content > div:nth-child(1) p {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 5%;
}

.front-1 > .front-content > div:nth-child(1) span {
  text-decoration: underline;
}

.front-1 > .front-content div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}

/* Личное дело ФИО */

.personal-file p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.personal-file span {
  width: 47%;
  border-bottom: 3px solid black;
}

.front-1 > .front-content div:nth-child(3) {
  position: relative;
  height: 50%;
}

/* Top secret block */

.top-secret {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  width: 200px;
  height: 70px;
  border: 4px solid rgb(194, 14, 14);
  border-radius: 10px;
  transform: rotate(-15deg);
  right: 20%;
  top: -5%;
}

.top-secret p {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: rgb(194, 14, 14);
}

/* Credentials */

.page-credentials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 40px 30px;
  width: 45%;
  height: 10%;
}

.page-credentials p {
  font-size: 13px;
}

.page-credentials span {
  text-decoration: underline;
}

/* Page 1 back elements */

.back-1 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-1 > div p {
  padding-top: 30px;
  width: 80%;
  text-align: center;
}

/* Page 2 front elements */

.front-2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front-2 > div div {
  margin-top: 30px;
  width: 80%;
  height: 70%;
  background-image: url(../img/criminal_1.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
  border: 2px solid #7e7448;
}

/* Page flip effect */

.flipped .page-front,
.flipped .page-back {
  transform: rotateY(180deg);
}

/* Page turn buttons */

.page-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.page-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 595px;
  height: 100%;
}

.page-buttons > button {
  border: none;
  width: 100px;
  height: 50px;
  background-color: #fdfdfde7;
}

.page-buttons > button:hover {
  box-shadow: 2px 2px 2px rgb(192, 192, 192),
    inset 2px 2px 2px rgb(255, 255, 255);
  transition: 0.4s;
}
