/* Pages inside folder */

.page {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	/* background-color: rgb(181, 223, 191); */
}

.page_front,
.page_back {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #c2beab, #e0dbc4, #c2beab);
	transform-origin: left;
	transition: 0.5s;
}

.front_content,
.back_content {
	width: 100%;
	height: 100%;
}

.back_content {
	transform: rotateY(180deg);
}

/* Page flip effect */

.flipped .page_front,
.flipped .page_back {
	transform: rotateY(180deg);
}

/* Folder page sequence */

.page_front {
	z-index: 6;
	backface-visibility: hidden;
}

.page_back {
	z-index: 5;
}