* {
	margin: 0;
	padding: 0;
}

/* Folder block */

.folder_bg {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 800px;
	background-color: rgb(210, 188, 233);
}

.folder {
	height: 100%;
	width: 650px;
	position: relative;
	transition: 0.5s;
}

.folder-page {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.folder-page > div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform-origin: left;
	border-left: 5px solid #7e7448;
	background-color: rgb(231, 125, 125);
	transition: 0.5s;
}

.folder > div:nth-child(2) div {
	background-color: rgb(65, 196, 167);
}

/* Folder flip effect */

.folder-flip {
	transform: translateX(50%);
  }
  
.flipped {
	transform: rotateY(180deg);
}

/* Page sequence */

.folder > div:nth-child(1) {
	z-index: 3;
}

.folder > div:nth-child(2) {
	z-index: 2;
}

/* Folder buttons to open and close it */

.folder_buttons {
	width: 100%;
	height: 100px;
	background-color: rgb(170, 243, 209);
	display: flex;
	justify-content: center;
	align-items: center;
}

.folder_buttons button {
	height: 50px;
	width: 200px;
	background-color: rgb(114, 81, 231);
}
