* {
	margin: 0;
	padding: 0;
}

/* Folder block */

.folder_bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 800px;
}

/* Buttons for inside pages */

.page_button {
	opacity: 0;
	width: 100px;
	height: 100px;
	background-color: transparent;
	background-image: url(img/check_arrow.png);
	background-size: cover;
	background-position: center;
	border: none;
	transition: 0.5s;
}

.page_button:hover {
	cursor: pointer;
	background-size: 110%;
}

.page_button:active {
	background-size: 90%;
}

.folder_bg .page_button:nth-child(1) {
	transform: rotate(90deg);
}

.folder_bg .page_button:nth-child(3) {
	transform: rotate(270deg);
}

/* Folder block */

.folder {
	height: 100%;
	width: 650px;
	position: relative;
	transition: 0.5s;
	border-left: 6px solid #7e7448;
}

.folder_page {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.folder_page > div {
	height: 100%;
	width: 100%;
	transform-origin: left;
	background-color: rgb(231, 125, 125);
	transition: 0.5s;
}

.folder > div:nth-child(2) > div {
	position: relative;
	display: flex;
	align-items: center;
	background-color: rgb(65, 196, 167);
	z-index: 3;
}

/* Folder page sequence */

.folder > div:nth-child(1) {
	z-index: 2;
}

.folder > div:nth-child(2) {
	z-index: 1;
}

/* Folder flip effect */

.folder_flip {
	transform: translateX(50%);
  }
  
.folder_page > .flipped {
	transform: rotateY(180deg);
}

/* Pages inside folder */

.book {
	position: absolute;
	width: 95%;
	height: 93%;
	transition: 0.5s;
	background-color: red;
}

.page {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(181, 223, 191);
}

.page_front,
.page_back {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #c2beab, #e0dbc4, #c2beab);
	transform-origin: left;
	transition: 0.5s;
}

.front_content,
.back_content {
	width: 100%;
	height: 100%;
}

.back_content {
	transform: rotateY(180deg);
}

/* Page flip effect */

.flipped .page_front,
.flipped .page_back {
	transform: rotateY(180deg);
}

/* Folder page sequence */

/* .page_front {
	z-index: 4;
	backface-visibility: hidden;
}

.page_back {
	z-index: 3;
} */

/* Folder buttons to open and close it */

.folder_buttons {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.folder_buttons button {
	font-size: 15px;
	border: none;
	height: 50px;
	width: 200px;
}
.folder_buttons button:active {
	background-color: rgb(161, 160, 160);
}
